<nav>
  {{- range $service := .Site.Menus.socials -}}
    | <a href="{{ $service.URL }}"> {{ $service.Name }} </a> | 
  {{- end -}}
</nav>

<nav>
      <a href="{{ .Site.BaseURL }}/sitemap.xml">sitemap</a>
      | <a href="{{ .Site.BaseURL }}/index.xml"> rss 2.0 </a>
      <!--
      | <a href="{{ .Site.BaseURL }}/atom.xml"> atom 1.0 </a>
      -->
      {{- $baseurl := urls.Parse .Site.BaseURL -}} 
      | <a href="http://validator.w3.org/check?uri=http%3A%2F%2F{{ $baseurl.Host }}%2F;ss=1">html5</a>
      | <a href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2F{{ $baseurl.Host }}%2F">css</a>
      | abutili design 2005 - 2022
      | rendered: {{ now.Format "20060102-150405-0600" }} </p>
</nav>

<script>
    // Google Custom Search Engine
      (function() {
        var cx = '000150286362001388399:ezzbxuwgvmg';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleAnalytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ .Site.Params.googleAnalytics }}');
</script>

<a href="#" class="back-to-top">Back to Top</a>