
    <h3>{{ .Site.Title }}</h3>
    <p>
      <i>{{ .Site.Title }}</i>
    </p>
    <nav role="navigation">
      {{- range $service := .Site.Menus.navigation -}}
      &nbsp;<a href="{{ $service.URL }}">{{ $service.Name }}</a>&nbsp;|&nbsp;
      {{- end -}}
      &nbsp; <a href="#" id="searchtoggle" title="Toggle Search View">search</a>
    </nav>

    <div id="search">
      <span id="searchhide"> Hide Search </span>
      <script async src="https://cse.google.com/cse.js?cx={{ .Site.Params.googleSearchSiteID }}"> </script>
      <div class="gcse-search"></div>
    </div>